strong {
    font-size: large;
}

.posts {
    list-style-type: none;
    margin: 0;
    text-decoration: none;
    color: grey; 
}

.header {
    
    a:hover {
        color: black;
    }
}


.body {

    //margin: 1rem 0;
    //padding: 1rem;
    //background-color: red;
   

    a {
        background: black;
        color:white;
        display:inline;
        font-family: courier;
        padding:3px;
        line-height:2em; 
        text-transform: uppercase;
        box-shadow: 5px 5px 0 0 lightgrey;
        color: white;
        padding: 1em 1em;
        text-decoration: none;
        text-transform: uppercase;
        
    }

    a:hover {
        background-color: red;
      }
      
      a:active {
        box-shadow: none;
        top: 5px;
      }
      

    h2 {
        margin-bottom: 0;
    }
    p {
        font-size: .8rem;
        //font-style: italic;
    }
    
    img {        
        //border: 5px solid #555;
    }
}

.return {
    
   // margin: 1rem 0;
   // padding: 1rem;

    a {
    font-size: 2rem;
    list-style-type: none;
    text-decoration: none;
    color: grey;
    }
    a:hover {
        color: black;
    }
}