//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300&display=swap');

//Font Variables 
$permanent-marker: 'Permanent Marker', cursive;
$baumans: 'Baumans', cursive;  

.container {
    position: relative;

    img {
        display: flex;
        top: 90%;    
    }

    h1{
        position: absolute;
        left: 10%;
        bottom: 0%;
        font-family: $permanent-marker;

    }

        /* If the screen size is 900px wide or less, set the font-size of <div> to 30px */
        @media screen and (max-width: 500px) {
            h1 {
                font-size: 6vw;
            }
         }
         /* If the screen size is 901px wide or more, set the font-size of <div> to 80px */
         @media screen and (min-width: 501px) {
            h1 {
            }
        }

  }


.top-left {
     
    position: absolute;
    margin: 0.5rem;
    top: -10%;

    h1{
        position: absolute;
        left: -3%;
    }

    p {
        position: relative;
        left: -3%;
        top: 10%;
        bottom: -5rem;
    } 

    h2 {
        font-family: courier;
    }

    span {
        background: black;
        color:white;
        display:inline;
        font-family: courier;
        padding:3px;
        line-height:2em; 
        text-transform: uppercase;
    }

      /* If the screen size is 900px wide or less, set the font-size of <div> to 30px */
      @media screen and (max-width: 600px) {
        h1 {
            font-size: 3rem;
        }
        span {
            font-size: 60%;
            position: relative;
            top: -6rem;

        }

     }
     /* If the screen size is 901px wide or more, set the font-size of <div> to 80px */
     @media screen and (min-width: 901px) {
        h1 {
            font-size: 11vw;
        }
        span {
        }
    }
   
}
