//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Permanent+Marker&display=swap');


//Font Variables 
$permanent-marker: 'Permanent Marker', cursive;
$baumans: 'Baumans', cursive;  

.container {
    position: relative;

    h1 {
        font-size: 6rem;
        font-family: $permanent-marker;
    }
  }

.top-left {
    position: absolute;
    top: -60px;
}