//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Permanent+Marker&display=swap');


//Font Variables 
$permanent-marker: 'Permanent Marker', cursive;
$baumans: 'Baumans', cursive;  

$font-stack: Helvetica, sans-serif;
$primary-color: black;


//Styles

.row-time {
    
    //padding: 1rem;
}

.header {
    padding: 1rem 0 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    
}

.title {
    color: #000000;
    
    h1 {
    font-size: 1rem;
    //font-family: $permanent-marker;
    }

    a {
        text-decoration: none;
    }
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    align-items: flex-start;  
    justify-content: space-around;  
}

.nav-item{
    color: #999999;
    font-size: .9rem;
    margin-left: 1rem;
    text-decoration: none;
}

.active-nav-item {
    color: black;
}

.nav-item:hover {
    color: black;
}